.header {
	width: 100%;
	height: 3.3rem;
	padding: 0;
	z-index: 50;
	display: flex;
	align-content: center;
	justify-items: center;
	position: fixed;
	z-index: 99;
	top: 0;
}
.header.is-home {
	display: none;
}
.header-title {
	text-align: left;
	flex: 1 0 0;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 3.3rem;
	padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	text-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
}
.header-btn {
	display: block;
	background-color: transparent;
	overflow: hidden;
	border: none;
	min-width: 3.5rem;
	height: 3.5rem;
	flex: 0 1 0;
	outline: none;
	fill: var(--text-color);
	align-content: center;
	align-items: center;
}
@media (min-width: 768px) {
	.header-title {
		text-align: left;;
	}
}
