.pageheader {
  padding: 0 1.5rem 0.5rem;
}
main.podcast {
  padding: 0 1.5rem 11rem 1.5rem;
  background-color: var(--background-color);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
main.podcast--empty {
  display: block;
}
.episodes {
  max-width: 100%;
  word-break: normal;
  display: block;
}

@media (min-width: 768px) {
  main.podcast {
    display: block;
  }
  .episodes {
    max-width: 75vw;
    padding-left: calc(20vw + 2rem);
  }
}
.episodes h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.episodes h1 small {
  margin-top: 0.2rem;
}
.podcast-episode__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.podcast-episode__item {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  word-wrap: break-word;
}
.podcast-episode__item--is-playing {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
