.planning {
  padding: 0rem 1.5rem 8rem 1.5rem;
  position: relative;
}
.planning h1 {
  margin-bottom:3rem;
}
.planning-list, .planning-list__item {
  list-style: none;
  margin: 0;
  padding:0;
}
.planning-list {
  border-top: 1px solid rgba(0,0,0,.1);
  width: 30rem;
  max-width: 80vw;
  margin: 1rem auto 0 auto;
  display: block;
}
.planning-list__item {
  display: flex;
  padding: 0;
  margin: 0;
  background: rgba(0,0,0,.02);
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.planning-list__item time {
  display: block;
  text-align: center;
  background: rgba(0,0,0,.02);
  font-size:.8rem;
  padding: .2rem;
  font-weight: bold;
  flex:0 1 0;
  width:100%;
}
.planning-list__item a {
  display: flex;
  margin:.6rem;
  flex: 1 1 0;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.is-active {
  border: 2px solid #cecece;
  border-radius: .2rem;
}
.is-active.planning-list__item,
.is-active.planning-list__item time {
  background: rgba(0,0,0,.04);
}
.is-active.planning-list__item time {
  position: relative;
}
.btn--on-air {
  display: none;
}
.is-active .btn--on-air {
  position: absolute;
  right: .3rem;
  top: .3rem;
  font-size: .5rem;
  line-height: 1.2;
  display: inline-block;
  padding: .25rem .4rem;
  display: block;
}
.hours, .hours--1 {
  height: 5rem;
}
.hours--2 {
  height: 6rem;
}
.hours--3 {
  height: 7rem;
}
.hours--4 {
  height: 8rem;
}
.hours--5 {
  height: 9rem;
}
.hours--6 {
  height: 10rem;
}
.planning-list__item--break {
  background-color:rgba(0,0,0,.05);
  border-top:1px dashed rgba(0,0,0,.1);
}
img.station-logo {
  width:100%;
  max-width: 3rem;
  max-height: 100%;
  vertical-align: middle;
}
  