.pubdate {
  display: block;
  color: var(--subtitle-color);
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.featured {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 1rem 1rem 0;
  padding: 0.75rem 1rem;
  display: flex;
  flex-basis: calc(100% - 5rem);
  flex-wrap: no-wrap;
  margin: 0 0 1rem 0;
  align-items: center;
  height: 5rem;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .featuredText span.played {
    font-size: 0.8rem;
    margin: 0.3rem 0;
  }
  .featured span.featuredText {
    position: relative;
    overflow: hidden;
  }
  .featuredText span.played,
  .featuredText b {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) {
  .featured {
    display: flex;
    flex-basis: 100%;
    height: auto;
    padding-top: 1rem;
    border-radius: 0 0 1rem 1rem;
  }
  .featured span.featuredButton {
    transform: scale(1);
  }
}
