<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %> | <%= htmlWebpackPlugin.options.subtitle %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %> | <%= htmlWebpackPlugin.options.subtitle %>">
		<meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://1tuner.com<%= htmlWebpackPlugin.options.url %>">
		<meta property="og:image" content="<%= htmlWebpackPlugin.options.logo %>">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@1tuner">
		<meta name="twitter:creator" content="@robinbakker">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#ff6000">
    <link rel="canonical" href="https://1tuner.com<%= htmlWebpackPlugin.options.url %>">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108430-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-108430-3', { 'anonymize_ip': true });
    </script>
    <% if(typeof htmlWebpackPlugin.options.jsonld !== 'undefined') { %>
    <script type="application/ld+json">
		<%= JSON.stringify(htmlWebpackPlugin.options.jsonld) %>
    </script>
    <% } %>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
