:root {
	--color-main: #d00000;
	--color-secondary: #444;
	--text-color: #646464;
	--title-color: rgb(41, 41, 41);
	--form-border-color: #cacaca;

	--icon-home: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='612' height='612' style='isolation:isolate'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h612v612H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='%23FFF' clip-path='url(%23a)'%3E%3Cpath d='M531.965 259c-8.913 0-16.141 7.226-16.141 16.14v292.189H386.706V427.093c0-44.503-36.206-80.706-80.706-80.706s-80.706 36.206-80.706 80.706V567.33H96.174V275.141c0-8.914-7.227-16.14-16.14-16.14-8.912 0-16.14 7.226-16.14 16.14v308.33c0 8.914 7.228 16.14 16.14 16.14h161.4c8.488 0 15.434-6.557 16.077-14.883.038-.377.063-.79.063-1.257V427.094c0-26.703 21.723-48.426 48.426-48.426 26.703 0 48.426 21.724 48.426 48.426v156.377c0 .465.025.87.063 1.243.636 8.331 7.584 14.897 16.077 14.897h161.4c8.914 0 16.14-7.226 16.14-16.14v-308.33c-.001-8.915-7.228-16.141-16.141-16.141z'/%3E%3Cpath d='M306 62.46L65.73 302.73A18.041 18.041 0 0 1 53 308c-4.77 0-9.35-1.9-12.73-5.27A18.041 18.041 0 0 1 35 290c0-4.77 1.9-9.35 5.27-12.73l253-253C296.65 20.9 301.23 19 306 19c4.77 0 9.35 1.9 12.73 5.27l253 253c3.37 3.38 5.27 7.96 5.27 12.73 0 4.77-1.9 9.35-5.27 12.73A18.041 18.041 0 0 1 559 308c-4.77 0-9.35-1.9-12.73-5.27L306 62.46z'/%3E%3C/g%3E%3C/svg%3E");
	--icon-station: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='612' height='612' viewBox='0 0 612 612'%3E%3Cpath fill='%23fff' d='M210.375 420.843H95.625c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h114.75c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125zm0-76.5H95.625c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h114.75c10.557 0 19.125-8.568 19.125-19.125 0-10.576-8.568-19.125-19.125-19.125zM535.5 153.093h-40.162L293.875 40.638c-9.142-5.068-20.846-2.065-26.125 6.713s-2.142 20.006 7 25.074l145.52 80.65H76.5c-42.247 0-76.5 34.253-76.5 76.5v267.75c0 42.247 34.253 76.5 76.5 76.5h459c42.247 0 76.5-34.253 76.5-76.5v-267.75c0-42.228-34.253-76.48-76.5-76.48zm38.25 344.25c0 21.133-17.117 38.25-38.25 38.25h-459c-21.133 0-38.25-17.136-38.25-38.25v-267.75c0-21.114 17.117-38.25 38.25-38.25h459c21.133 0 38.25 17.136 38.25 38.25v267.75zM401.625 248.718c-63.38 0-114.75 51.39-114.75 114.75 0 63.38 51.37 114.75 114.75 114.75s114.75-51.37 114.75-114.75-51.37-114.75-114.75-114.75zm0 191.25c-42.247 0-76.5-34.253-76.5-76.5s34.253-76.5 76.5-76.5 76.5 34.253 76.5 76.5-34.253 76.5-76.5 76.5zm-191.25-172.125H95.625c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h114.75c10.557 0 19.125-8.568 19.125-19.125 0-10.556-8.568-19.125-19.125-19.125z'/%3E%3C/svg%3E");
	--icon-planner: url("data:image/svg+xml,%3Csvg width='580' height='400' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg stroke='null' fill='%23fff'%3E%3Crect rx='12' height='96.77' width='215.044' y='32.743' x='87.5'/%3E%3Crect rx='12' height='96.77' width='215.044' y='152.212' x='183.075'/%3E%3Crect rx='12' height='96.77' width='215.044' y='270.487' x='277.456'/%3E%3C/g%3E%3C/svg%3E");
	--icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' style='isolation:isolate'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h512v512H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='%23fff' fill-rule='evenodd' clip-path='url(%23a)'%3E%3Cpath d='M229.63 147.341q0-9.725 7.668-16.645 7.668-6.919 18.889-6.919 10.847 0 18.515 6.919 7.668 6.92 7.668 16.645 0 9.351-7.668 16.458-7.668 7.107-18.515 7.107-11.221 0-18.889-7.107-7.668-7.107-7.668-16.458zm2.618 225.547V225.516q0-6.733 6.733-10.847 6.733-4.115 17.206-4.115 10.473 0 17.393 4.115 6.92 4.114 6.92 10.847v147.372q0 5.61-7.294 10.473-7.294 4.862-17.019 4.862-10.099 0-17.019-4.675-6.92-4.676-6.92-10.66z'/%3E%3Cpath d='M9.2 256c0-65.4 26-128.3 72.3-174.5C127.7 35.2 190.6 9.2 256 9.2s128.3 26 174.5 72.3c46.3 46.2 72.3 109.1 72.3 174.5s-26 128.3-72.3 174.5c-46.2 46.3-109.1 72.3-174.5 72.3s-128.3-26-174.5-72.3C35.2 384.3 9.2 321.4 9.2 256zm31.6 0c0-57 22.7-111.8 63-152.2 40.4-40.3 95.2-63 152.2-63 57 0 111.8 22.7 152.2 63 40.3 40.4 63 95.2 63 152.2 0 57-22.7 111.8-63 152.2-40.4 40.3-95.2 63-152.2 63-57 0-111.8-22.7-152.2-63-40.3-40.4-63-95.2-63-152.2z'/%3E%3C/g%3E%3C/svg%3E");
	--icon-cast-open: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='isolation:isolate'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z' opacity='.1'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23FFF' d='M21 3H3c-1.1 0-2 .9-2 2v3h2V5h18v14h-7v2h7c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM1 18v3h3c0-1.66-1.34-3-3-3zm0-4v2c2.76 0 5 2.24 5 5h2c0-3.87-3.13-7-7-7zm0-4v2a9 9 0 0 1 9 9h2c0-6.08-4.93-11-11-11z'/%3E%3C/g%3E%3C/svg%3E");
	--icon-cast-closed: url("data:image/svg+xml,%3C?xml version='1.0' standalone='no'?%3E%3C!-- Generator: Gravit.io --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='isolation:isolate' viewBox='0 0 24 24' width='24' height='24'%3E%3Cdefs%3E%3CclipPath id='_clipPath_DVkPB66gL5XcxlYSBMF01emMBiG8CYEh'%3E%3Crect width='24' height='24'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23_clipPath_DVkPB66gL5XcxlYSBMF01emMBiG8CYEh)'%3E%3Cg opacity='0.1'%3E%3Cpath d=' M 0 0 L 24 0 L 24 24 L 0 24 L 0 0 Z ' fill='none'/%3E%3C/g%3E%3Cpath d=' M 0 0 L 24 0 L 24 24 L 0 24 L 0 0 Z ' fill='none'/%3E%3Cpath d=' M 1 18 L 1 21 L 4 21 C 4 19.34 2.66 18 1 18 Z M 1 14 L 1 16 C 3.76 16 6 18.24 6 21 L 8 21 C 8 17.13 4.87 14 1 14 Z M 19 7 L 5 7 L 5 8.63 C 8.96 9.91 12.09 13.04 13.37 17 L 19 17 L 19 7 L 19 7 Z M 1 10 L 1 12 C 5.97 12 10 16.03 10 21 L 12 21 C 12 14.92 7.07 10 1 10 Z M 21 3 L 3 3 C 1.9 3 1 3.9 1 5 L 1 8 L 3 8 L 3 5 L 21 5 L 21 19 L 14 19 L 14 21 L 21 21 C 22.1 21 23 20.1 23 19 L 23 5 C 23 3.9 22.1 3 21 3 Z ' fill='rgb(255,255,255)'/%3E%3C/g%3E%3C/svg%3E");
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font: 16px/1.6 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

.search-focus #app > nav,
.search-focus #app > footer {
	opacity: 0;
}

#app {
	height: 100%;
}

a {
	color: rgba(255,0,0,.75);
	transition: color .2s ease-in-out;
}
a:hover {
	color: rgba(255,0,0,1)
}

.is-hidden {
	display: none;
}

.textfield, .dropdown {
	font: 16px/1.2 BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	padding: .4rem;
	border: none;
	border-bottom: 1px solid #cacaca;
	outline: none;
	vertical-align: text-bottom;
	line-height: 1rem;
}
.textfield {
	padding: .4rem 0;
}
.textfield:invalid {
	border-color: #f00;
}

.label-text {
	display: block;
	text-transform: uppercase;
	color: #999;
	font-size: .6rem;
	margin-bottom: .2rem;
}

.hidden {
	display: none;
}

.content {
	padding: 4rem 0 6rem 0;
	min-height: 100%;
	width: 100%;	
}
.content__section {
	padding: .5rem 0;	
}
.content__section--stations {
	margin-top: 0;
}

.btn-container {
	margin: 1rem 0;
}
.btn-container--content-right {
	text-align: right;
}
.btn-container--left,
.btn-container--right {
	position: absolute;
  margin-top: -4rem;
  right: 1.5rem;
}
.btn-container--left {
	right: auto;
	left: 1.5rem;
}
.btn {
	color: #fff;
	background: var(--color-main);
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .75rem;
	line-height: 1.7;
	display: inline-block;
	padding: .4rem .6rem;
	border-radius: .2rem;
	text-decoration: none;
	opacity: 1;
	transition: opacity ease-in-out .2s; 
	cursor: default;
}
.btn--cancel, .btn.btn--cancel:hover {
	box-shadow: inset 0 0 0 1px var(--color-secondary);
	color: var(--color-secondary);
	background: #fff;
}
.btn--delete, .btn.btn--delete:hover {
	box-shadow: inset 0 0 0 1px #f00;
	color: #f00;
	background: #fff;
}
.btn--play {
	position: relative;
	padding-left: 2rem;
	padding-right: 1rem;
}
.btn--play:after {
	content: '\20';
	display: block;
	top: .6rem;
  left: 1rem;
	position: absolute;	
  border-left: .6rem solid #fff;
	border-top: .35rem solid transparent;
	border-bottom: .35rem solid transparent;
}
.btn--search {
	padding-left: 2rem;
	position: relative;
}
.btn--search:before, .btn--search:after {
	content: '\20';	
	position: absolute;
}
.btn--search:before {
	left: .8rem;
	top: .5rem;
	border-radius: 50%;
  height: .5rem;
  width: .5rem;
  border: .15rem solid #fff;
}
.btn--search:after {    
	height: .15rem;
	width: .5rem;
	background: #fff;
	top: 1.2rem;
	left: .6rem;
	transform: rotate(-45deg);
}
.btn--create {
	padding-left: 1.5rem;
	position: relative;
}
.btn--create:before {
	content: '+';
	position: absolute;
	left: .4rem;
	top: .3rem;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1; 
}
.btn--add, .btn--remove {
	text-indent: -20rem;
	overflow: hidden;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	position: relative;
	vertical-align: text-bottom;
	margin: .5rem;
}
.btn--add:before, .btn--remove:before {
	font-weight: bold;
	width: 1rem;
	position: absolute;
	top: .25rem;
	left: .25rem;
	text-indent: 0;
	font-size: 1.4rem;
	line-height: 1rem;		
}
.btn--add {
	background-color:forestgreen;	
}
.btn--add:before {
	content: '+';    
}
.btn--remove:before {
	content: '-';
	font-size: 1.6rem;
	line-height: .8rem;
}
.btn--info {
	text-indent: -50rem;
	overflow: hidden;
	min-width: 2rem;
}
.btn--info.icon--info {
	background-position: center center;
}
.btn:hover {
	color: #fff;
	opacity: .8;
}
.btn--below {
	border-radius: 0 0 .2rem .2rem;
}
.margin--right {
	margin-right: 1rem;
}
.btn--float-right {
	float: right;
}
.btn--right {
	position: absolute;
	position: absolute;
  margin-top: -4rem;
  right: 1.5rem;

}
.loader {
	text-align: center;
}
.loader svg path,
.loader svg rect{
  fill: var(--color-main);
}

.section-title {
	font-size: 1rem;
	text-transform: uppercase;
	border-left: .15rem solid var(--color-main);
	padding-left: .35rem;
	margin-left: 1.5rem;
	color: var(--title-color);
	overflow: hidden;
	display: block; 
}
.section-title--no-padding {
	margin-left:0;
}
.content .content__section:nth-child(1) .section-title { animation-delay: .5s }
.content .content__section:nth-child(2) .section-title { animation-delay: 1s }
.content .content__section:nth-child(3) .section-title { animation-delay: 1.5s }
.content .content__section:nth-child(4) .section-title { animation-delay: 2s }
.section-main {
	min-height: 10rem;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior: contain;
	background: #f2f2f2;
	display: flex;
  flex-direction: column;
	justify-content: center;
	padding: 0;
}
.section-footer {
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	flex-direction: row;
	padding: 0 1.5rem;
}
.section-featured {
	display: flex;
	background: #f2f2f2;
	padding: 1.5rem;
}
.list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
.list__item {
	list-style: none;
	width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.preset-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	flex-flow: row wrap;
  justify-content: space-around;
}
.preset-list--horizontal {
	flex-wrap: nowrap;
	overflow-x: auto;
	justify-content: normal;
	height: auto;
	overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.preset-list--horizontal .preset-list__item {
	flex: 0 0 auto;
}
.preset-list__item {
	align-content: flex-end;
	padding: 1.5rem;
}
.preset-list__item--small {
	width: 6rem;
	height: 6rem;
	margin: 1rem;
}
a.preset-list__link {
  display: none;
}
.preset-list__item-content--planning {
	background: #ebebeb;
	width: 30rem;
	max-width: 80vw;
	display: flex;
}

.button__text--inverted {
	color:#fff;
}
.preset-list__button {
	background-color: #fff;
	border: none;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7rem;
	height: 7rem;	
	border-radius: .2rem;
	margin: 0;
	padding: 0;
	position: relative;
	transition: opacity .2s ease-in-out;
	opacity: .75;
	text-align: center;
	user-select: none;
	overflow: hidden;
	outline-color: var(--text-color);
	color: var(--text-color);
	font-family: inherit;
	cursor: pointer;
}
.preset-list__button:focus {
	outline: -webkit-focus-ring-color auto 1px;
	outline-color: var(--text-color);
}
.preset-list__item:hover .preset-list__button,
.preset-list__item:focus .preset-list__button,
.preset-list__item:active .preset-list__button,
.preset-list__button:hover, .preset-list__button:focus, .preset-list__button:active {
	background-blend-mode: normal;
	opacity: 1;
}
.preset-list__button:before {
	border-left: 2px solid rgba(255,0,0,.75);
	content: '\20';
	display: inline-block;
	width: 2px;
	height: 100%;
	position: absolute;
	z-index: 99;
	opacity: 0;
	left: 0;
	bottom: 0;
	transform: translate3d(0,0,0);
	transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}
.preset-list__item:hover .preset-list__button:before,
.preset-list__item:focus .preset-list__button:before,
.preset-list__item:active .preset-list__button:before,
.preset-list__button:hover:before, .preset-list__button:focus:before, .preset-list__button:active:before {
	opacity: 1;
	transform: translate3d(3000%,0,0);
}
.button__image {
	width: 4rem;
	height: auto;
	min-height: 1rem;
  max-height: 4rem;
	margin-top: -1rem;
}
.button__text {
	position: absolute;
	bottom: .5rem;
	display: block;
	width: 100%;
	padding: 0 .5rem;
	left: 0;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon--home, .icon--station, .icon--planner, .icon--info {
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50% 40%;
}
.icon--home {
	background-size: 58% !important;
	background-image: var(--icon-home);
}
.icon--station {
	background-size: 50%;
	background-image: var(--icon-station);
}
.icon--planner {
	background-image: var(--icon-planner);
}
.icon--info {
	background-image: var(--icon-info);
}

h1.main-title {
	margin:0;
}
.main-subtitle {
	color:#b5b5b5;
	margin: 0;
	font-size: 1rem;
  display: block;
}
.main-subtitle--loud {
	color:#999;
}
.main-subtitle--center {
	text-align: center;
}

.page-container {
	height: 100%;
}

.cast-button {
	background: transparent no-repeat;
	background-image: var(--icon-cast-open);
	border: none;
	text-indent: -50rem;
	overflow: hidden;
	width: 1.6rem;
	height: 1.6rem;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 6rem;
	top: 2.1rem;
}
.cast-button.is-active {
	background-image: var(--icon-cast-closed);
}

@keyframes textIndentAnimation {
  0% {
    text-indent: -10rem;
  }
  100% {
    text-indent: 0;
  }
}

@media (min-width: 768px) {
	body {
		padding-left: 4.4rem;
	}
	.search-focus #app > nav,
	.search-focus #app > footer {
		opacity: 1;
	}
	
	.preset-list--page .preset-list__item-content {
		background: #ebebeb;
		width: 20rem;
		max-width: 80vw;
		display: flex;
		border: .2rem solid #ebebeb;
		border-radius: .3rem;
	}
	.preset-list--page .preset-list__item-content--station {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.preset-list--page .button__text {
		display: none;
	}
	.preset-list--page .button__image {
		margin-top: 0;
	}
	.preset-list--page a.preset-list__link {
		display: inline-block;
		font-size: 1.2rem;
		padding: 1rem;
		color: var(--text-color);
		text-decoration: none;
	}
}