.lastPlayed {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
}
.lastPlayed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  align-items: center;
}
.lastPlayedButton {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.lastPlayedButton button {
  margin-right: 0 !important;
}
.lastPlayedText h4,
.lastPlayedText p {
  margin: 0;
}
