.podcasts {
	padding: 0 1.5rem 0 1.5rem;
}
.form-search {
	display: block;
	position: relative;
	border: none;
	margin: .6rem 0 .6rem 0;
	padding: 0;
}
.form-search:before, .form-search:after {
	content: '\20';	
	position: absolute;
}
.form-search:before {
	left: .5rem;
	top: .66rem;
	border-radius: 50%;
  height: .5rem;
  width: .5rem;
  border: .15rem solid #999;
}
.form-search:after {    
	height: .15rem;
	width: .5rem;
	background: #999;
	top:1.4rem;
	left:.2rem;
	transform: rotate(-45deg);
}
.textfield--search {
	background: transparent;
	border-color: #646464 !important;
	margin-bottom: 1rem;
	width: 100%;
	opacity: .66;
	padding-left: 1.8rem;
	transition: opacity .2s ease-in-out;
}
.textfield--search:focus {
	opacity:1;
}
.textfield--search::-ms-clear {
	display: none; 
}
.btn-search-reset {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
	width:2rem;
	height:2rem;
	position: absolute;
	right: .3rem;
	top:.3rem;
	text-indent: -10rem;
}
.section {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
.textfield--search:not(:valid) ~ .btn-search-reset {
	opacity: 0;
}
.btn-search-reset:after, .btn-search-reset:before {
	background-color: #000;
	position: absolute;
	display: inline-block;
	height: .2rem;
	width: .8rem;
	content: '\20';
	top: .6rem;
	right: .6rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-search-reset:before {
	-webkit-transform: translateX(.2rem) translateY(.2rem) rotate(45deg);
	transform: translateX(.2rem) translateY(.2rem) rotate(45deg);
}
.btn-search-reset:after {
	-webkit-transform: translateX(.2rem) translateY(.2rem) rotate(-45deg);
	transform: translateX(.2rem) translateY(.2rem) rotate(-45deg);
}
@media (min-width: 768px) {

}