.footer {
	position: fixed;
	z-index: 2;
	bottom: calc(4rem + env(safe-area-inset-bottom));
	width: 100%;
	transform: translate3d(0,100%,0);
	background-color: var(--footer-background-color);
	color: var(--footer-text-color);
	padding: 1.5rem;
	display: flex;
	align-items: center;
	transition: transform ease-in-out .2s;
	background-position: center right;
	background-repeat: no-repeat;
	background-blend-mode: saturation;
	background-size: 60%;
	backdrop-filter: blur(.2rem);
	box-shadow: 0 -.2rem .5rem rgba(0,0,0,.1);
}
.footer--mode3 {
	flex-direction: column;
}
@media (min-width: 768px) {
	.footer {
		bottom: 0;
		width: calc(100% - 4.4rem);
	}
	.footer--mode3 {
		flex-direction: row;
	}
}
.footer--hidden {
	transform: translate3d(0,100%,0);
}
.footer--visible {
	transform: translate3d(0,0,0);
}
.footer__item {
	flex-grow: 1;
	display: flex;
	align-items: left;
	flex-direction: column;
}
.footer__item h3,
.footer__item p {
	margin: 0;
}
.footer__item h3 {
	margin-top: -.4rem;
}
.footer__item--audio {
	flex-grow: 0;
	flex-direction: row;
	align-items: center;
	padding-right: 1rem;
	margin-bottom: 0;
	flex-wrap: wrap;
	justify-content: center;
}
.footer__item--close {
	flex-grow: 0;
}
.footer__item--chromecast {
	flex-grow: 0;
	margin-right: .5rem;
	height: 2rem;
	max-width: 1.5rem;
}
.footer__item--chromecast > * {
	--connected-color: #006dff;
	--disconnected-color: rgba(255,255,255,.75);
}
@media (max-width: 767px) {
	.footer--mode3 {
		background-position: center;
	}
	.footer--mode3 .footer__item--audio {
		margin-bottom: 1rem;
	}
	.footer--mode3 .footer__item--close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
.footer__item--logo {
	flex-grow:0;
	background-color:rgba(255,255,255,.5);
	border-radius:.2rem;
	padding:.4rem;
	width:2.5rem;
	height: 2.5rem;
	margin:0 .5rem 0 0;
	text-align: center;
	justify-content: center;
}
.footer__link, .footer__link:hover {
	color: var(--footer-text-color);
	background-position: center right;
	background-size: 1.1rem;
	padding-right: 1.8rem;
  text-decoration: none;
  word-break: break-word;
	text-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
}
.footer__link:hover {
	text-decoration: underline;
}
.station-logo {
	max-width: 2rem;
	max-height: 2rem;
}
.close-button {
	background: transparent;
	color: var(--footer-text-color);
	border: none;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
	width:2rem;
	height:2rem;
	position: relative;
	text-indent: -10rem;
}
.close-button:after,.close-button:before {
	background-color: var(--footer-text-color);
	position: absolute;
	display: inline-block;
	height: .25rem;
	width: 1rem;
}
.footer__next-program {
	padding-left:1.4rem;
	color:var(--footer-text-color);
	white-space: nowrap;
	position: relative;
	opacity: .5;
}
.footer__next-program:after,.footer__next-program:before {
	content: '\20';
	top: .3rem;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: var(--footer-text-color);
	position: absolute;
	display: inline-block;
	height: .175rem;
	width: .5rem;
}
.footer__next-program:before {
	-webkit-transform: translateX(.4rem) translateY(.2rem) rotate(45deg);
	transform: translateX(.4rem) translateY(.2rem) rotate(45deg);
}
.footer__next-program:after {
	-webkit-transform: translateX(.4rem) translateY(.4rem) rotate(-45deg);
	transform: translateX(.4rem) translateY(.4rem) rotate(-45deg);
}

.close-button:after,.close-button:before {
	content: '\20';
	top: .6rem;
	right: .6rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.close-button:before {
	-webkit-transform: translateX(.2rem) translateY(.2rem) rotate(45deg);
	transform: translateX(.2rem) translateY(.2rem) rotate(45deg);
}

.close-button:after {
	-webkit-transform: translateX(.2rem) translateY(.2rem) rotate(-45deg);
	transform: translateX(.2rem) translateY(.2rem) rotate(-45deg);
}
.play-button {
	background-color:var(--color-main);
	background: radial-gradient(circle at bottom left, rgb(255, 44, 0) 2%, rgba(255,157,0,1) 80%);
	width: 3rem;
	height: 3rem;
	margin: 0;
	color:#fff;
	text-align: center;
	border-radius: 100%;
	text-indent:-500px;
	overflow: hidden;
	position: relative;
	border: none;
	box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
	transition: background-color .2s ease-in-out;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
.play-button:before {
	opacity: 0;
	display: block;
	content: '\20';
	width: 2.8rem;
	height: 2.8rem;
	position: absolute;
	top:.1rem;
	left:.1rem;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1rem 1rem .75rem .25rem var(--color-main), -1rem -1rem .75rem .25rem var(--color-main), 0 0 0 0.1rem #fff;
	transition: opacity 1s ease-in-out;
}
.play-button--loading:before {
	opacity: 0;
	animation: borderrotate 2s linear infinite;
	animation-delay: 1s;
}
.play-button:hover {
	background-color:var(--color-main);
}
.play-button:after {
	content:'\20';
	display:block;
	top: 1rem;
  left: 1.2rem;
	position: absolute;
}
.play-button--play:after {
  border-left:.75rem solid #fff;
	border-top:.5rem solid transparent;
	border-bottom:.5rem solid transparent;
}
.play-button--stop:after {
	top:1.1rem;
	left:1.1rem;
  width:.75rem;
	height:.75rem;
	background-color:#fff;
}
.play-button--mode3.play-button--stop:after {
	top:1.1rem;
	left:1.2rem;
  width:.2rem;
	height:.75rem;
	background-color:transparent;
	border-left: .2rem solid #fff;
	border-right: .2rem solid #fff;
}

.rew-button,
.ffw-button {
	display: none;
	background: transparent;
	cursor: pointer;
	border:none;
	color: #fff;
	text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.1);
	border-radius: .2rem;
	position: relative;
	transition: opacity .2s ease-in-out;
	outline: none;
}
.rew-button[disabled],
.ffw-button[disabled] {
	opacity: .5;
}
.rew-button:after,
.ffw-button:after {
	left:auto;
	margin-left:-.8rem;
	bottom: -1rem;
	position: absolute;
	font-size: 1.5rem;
	color: rgba(255,255,255,.5);
	text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.1);
}
.rew-button:after {
	content: '↼';
	margin-left: -1.8rem;
}
.ffw-button:after {
	content: '⇀';
}
.rew-button--mode3,
.ffw-button--mode3 {
	display: inline;
}

.audio-progress {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border: none;
	height: .3rem;
	appearance: none;
	color: transparent;
	background-color: transparent;
}
.audio-progress::-webkit-progress-bar {
	color: transparent;
	background-color: transparent;
	border: none;
}
.footer--mode3 .audio-progress {
	display: block;
}
.audio-progress[value] {
	background-color: transparent;
	color: var(--color-main);
}
.audio-progress[value]::-webkit-progress-bar {
	background-color: rgba(255,255,255,.2);
	border: none;
	color: var(--color-main);
}
.audio-progress::-webkit-progress-value {
	background-color: var(--color-main);
}
.audio-error {
	position: absolute;
	color: var(--color-main);
	background: #fff;
	padding: .2rem 1rem;
	bottom:1rem;
	box-shadow: 0 0 .6rem rgba(0,0,0,1);
	left:50%;
	transform: translate3d(-50%, 6rem, 0);
	transition: transform .2s ease-in-out;
	border-radius: .1rem;
}
.audio-error--active {
	transform: translate3d(-50%, 0, 0);
}

.elapsed {
	width: 100%;
	font-size: .8rem;
	opacity: .75;
	text-align: center;
	text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.1);
}

@keyframes borderrotate{
  0% {
		transform: rotate(0);
		opacity: .33;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .33;
    transform: rotate(364.9deg);
  }
}
