main.station {
	padding: 0rem 1.5rem 5.5rem 1.5rem;
	background-position: right 1.5rem top 6rem;
	background-size: 25%;
	background-repeat: no-repeat;
	position: relative;
}
.related {
	margin: 4rem 0;
}

@media (min-width: 768px) {
	.related {
		max-width: 70%;
	}
}