.filter-panel-container {
	display: block;
}
.filter-panel-container--show {
	position: fixed;
	width:100%;
	height: 100%;
	z-index: 1;
}
.filter-panel {
	position: fixed;
	right: 0;
	top: 0;
	background: var(--filter-panel-bg-color);
	width: 16rem;
	height: 100%;
	z-index: 1;
	padding: 5rem 2rem 0 2rem;
	transform: translate3d(100%, 0, 0);
	transition: transform .2s ease-in-out;
}
.filter-panel--show {
	transform: translate3d(0,0,0);
}
.filter-panel-item {
	background: transparent;
}
.filter-panel-item--search {
	position: relative;
}
.filter-panel-item__title {
	margin: 0;
}
.filter-panel-item__content {
	padding:.5rem 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.lang-selection,
.lang-selection__item {
	list-style: none;
	margin: 0;
	padding: 0;
	user-select: none;
}
.lang-selection__item {
	padding: .2rem 0;
	vertical-align: middle;
}
.lang-selection__item input {
	margin-right: .3rem;
	vertical-align: text-bottom;
}

@media (min-width: 768px) {
	.filter-panel-container {
		position: initial;
		width:initial;
		height: initial;
	}
	.filter-panel {
		transform: translate3d(0,0,0);
	}
}