.nav {
	background: #222;
	display: block;
	position: fixed;
	bottom:0;
	z-index: 3;
	width:100%;
	height:4rem;
}
.nav-list, .nav-list li {
	list-style: none;
	margin:0;
	padding:0;
}
.nav-list {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.nav-list__item {
	flex-grow: 1;
	width: 20%;
	text-align: center;
}
.nav-link {
	display: inline-block;
	width: 3rem;
	height: 3.2rem;
	background-color: transparent;
	background-blend-mode: luminosity;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	color: rgba(0,0,0,.75);
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	margin-top: .8rem;
	margin-left: 0;
	border-bottom: .2rem solid transparent;
	outline: none;
}
.nav-link.active {
	border-bottom: .2rem solid #d00000;
}

.nav-link.nav-link--station {
	background-size: 60%;
}
.nav-link.nav-link--info {
	background-size: 50%;
}
.nav-list__caption {
	display: block;
	color: #fff;
	font-size: .8rem;
	text-transform: none;
	position: absolute;
	bottom: 0;
	width:100%;
	text-align: center;
}
.nav-link--planner {
  background-position: center 10%;
}
.nav-link--user {
	padding-top:.3rem;
	padding-left:.3rem;
}
.nav-list__image {
	display: block;
	width:2rem;
	height:2rem;
	border-radius: 50%;
	border:1px solid #fff;	
	position: absolute;
	overflow: hidden;
}
img.userphoto {
	border:none;
	max-width: 100%;
	max-width: 100%;
}
@media (min-width: 768px) {
	.nav {
		width: 4.4rem;
		height: 100%;
		left: 0; 
		top: 0;
	}
	.nav-list {
		margin-top:1.7rem;
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-link {
		border-left: .2rem solid transparent;
		border-bottom: none;
		width: 4rem;
		height: 3.4rem;
		margin-top: 0;
		margin-bottom: 1.4rem;
		background-size: 45% !important;
		background-position: center 20% !important;
	}
	.nav-link.nav-link--info {
		background-size: 40% !important;
	}
	.nav-link.active {
		border-left: .2rem solid #d00000;
		border-bottom: none;
	}
	.nav-link--planner .nav-list__caption {
		left:0;
	}
}