main.settings {
	padding: 0 1.5rem 10rem 1.5rem;
	background-color: var(--background-color);
}
.smallish {
	font-size: .8rem;
	color: #999;
}
.content-title {
	font-size: 1.2rem;
	color:var(--title-color);
	margin-bottom:-1rem;
}
.experimental {
	opacity: .5;
	margin-top: 6rem;
	transition: opacity .6s ease-in-out;
}
.experimental:hover {
	opacity: 1;
}
.selecttheme {
	margin-top: 1.2rem;
}
.selecttheme label {
	margin: 0;	
}